* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(90, 82, 82);
}
.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.main-content {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  margin-top: 10px;
  border-radius: 20px;
}
.inputs {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
}
input {
  margin: 20px;
  border-radius: 20px;
  border: none;
  height: 40px;
}
.btn {
  border-radius: 20px;
  border-style: none;
  margin: 10px;
  height: 40px;
  width: 60px;
  margin-top: 150px;
}
.birthday-wish {
}
